<form>
  <div class="mb-3">
    <span class="d-block p-2 bg-dark text-white">Renkler</span>

    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <select [(ngModel)]="currentColor" (change)="setCurrentColor()" name="colorSelect" class="form-select mb-1" aria-label="Default select example" >
      <option [selected]="allColorsSelected()" [ngValue]="allColor">Tüm Renkler</option>
      <option *ngFor="let color of colors" [ngValue]="color"> {{ color.colorName }} </option>
    </select>

  </div>
</form>
