<form>
  <div class="mb-3">
    <span class="d-block p-2 bg-dark text-white">Markalar</span>

    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <ul class="list-group" *ngIf="dataLoaded==true">
      <li class="list-group-item">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
          (click)="clearCurrentBrand()"
          [checked]="getAllBrandClass"
        />
          Tüm Markalar
      </li>
      <li class="list-group-item" *ngFor="let brand of brands">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
          (click)="setCurrentBrand(brand)"
          [checked]="getCurrentBrandClass(brand)"
        />
          {{ brand.brandName }}
      </li>
    </ul>
  </div>
</form>