<body class="text-center">
    <main class="form-register">
      <form [formGroup]="registerForm">
        <img class="mb-4" src="./../assets/images/logo.png" alt="" width="120" height="120">
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
    
        <div class="form-floating">
          <input
            formControlName="email" type="email"
            class="form-control" id="email"
            placeholder="Eposta"
          />
          <label for="email">Eposta</label>
        </div>
        <div class="form-floating">
          <input
            formControlName="password" type="password"
            class="form-control" id="password"
            placeholder="Password"
          />
          <label for="password">Parola</label>
        </div>
        <div class="form-floating">
            <input
              formControlName="firstName" type="text"
              class="form-control" id="firstName"
              placeholder="firstName"
            />
            <label for="password">Ad</label>
        </div>
        <div class="form-floating">
            <input
              formControlName="lastName" type="text"
              class="form-control" id="lastName"
              placeholder="lastName"
            />
            <label for="password">Soyad</label>
        </div>
        <div class="checkbox mb-3">
            <label>
            </label>
          </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()">
          Kayıt Ol
        </button>
      </form>
    </main>
</body>